<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About page</h1>

    <div>
       
        <div th:insert = "${isLogin} ? ~{base :: parent(~{:: #logedin})} : ~{base :: parent(~{:: #logedout})}">
            <p id="logedin">You are succesfully LogedIN.</p>
            <p id="logedout">You are succesfully LogedOUT.</p>
        </div>
    </div>
</body>
</html>